---
/**
 * Footer Component
 * Minimal contact information
 */
---

<footer class="footer" data-section="footer" id="contact">
  <div class="footer__content">
    <div class="footer__branding">
      <p class="footer__project-name">Cœur Nanterre</p>
      <address class="footer__address">
        68 rue du Couchant, 92000 Nanterre
      </address>
    </div>

    <div class="footer__info">
      <p class="footer__mention">Programme immobilier – informations à venir</p>
    </div>
  </div>
</footer>
